h1 {
    width: 100%;
    text-align: center;
    background-color:rgb(63, 63, 63);
}
.center {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: gray;
    text-align: center;
}
table,
td {
    border: 1px solid black;
}
table {
    width: 40%;
}
.varattu {
    background-color: red;
}
.vapaa {
    background-color: green;
}
#inv {
    color: rgb(255, 255, 255);
}