#lomake {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#yla {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: rgb(63, 63, 63);
}
label {
    color: rgb(255, 255, 255);
    font: 15px/10px sans-serif;
}
h1 {
    color: rgb(255, 255, 255);
    font: 40px/40px sans-serif;
}
