.navigointi {
    text-align: left;
    background-color: #fffafa;
    border: 1px;
    border-color: black;
}
.teksti {
    font-size: 120%;
}
.kuvat {
    max-width: 100%;
}
.alaviite {
    float: left;
}

body {
    background-color: rgb(65, 65, 65);
}
p {
    font-size: medium;
    color: aliceblue;
}
h1 {
    color: rgb(192, 192, 192);
}