.center {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
table,
td {
    text-align: center;
    border: 1px solid black;
}
body {
    background-color: gray;
    text-align: center;
}
table {
    width: 40%;
}
