
#yla {
    height: 4%;
    padding-top: 1px;
    padding-bottom: 2%;
    background-color: aqua;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}
#lomake {
    background-color: aliceblue;
    text-align: center;
    margin-left: 43%;
    margin-right: 43%;
    margin-top: 5%;
}
#kaikki1 {
    background-image: url("ajanvaraus.jpg");
}
#yla2 {
    margin-top: 5%;
    background-color: aliceblue;
    text-align: center;
}
body {
    text-align: center;
    background-color: rgb(255, 255, 255);
}